.target
.DS_Store
.checkstyle
.classpath
.project
*/target/*
*/target/**

*/project/*
*/project/**

.idea/
.idea/.name
.idea/*.xml
.idea/**/*.xml
./.idea/compiler.xml

mac/.idea
mac/project
mac/target


my-notes/.idea
my-notes/project
my-notes/target
my-notes/build
my-notes/.gradle

